doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/jquery-3.2.1.js')
    script(type='text/javascript' src='/javascripts/dice.js')
  body
    block content
