doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/jquery-3.2.1.js')
    script(src='http://cdn.babylonjs.com/2-5/babylon.js')
    //script(src='http://cdn.babylonjs.com/2-1/babylon.js')
    script(src='/javascripts/helloWorld.js')
    script(type='text/javascript' src='/javascripts/dice.js')
  body
    block content
